__pycache__/
*.py[cod]
*.pyc
*.pyo
.pytest_cache/
.env
*.pt
*.pkl
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db
reports/shap_plots/*.png
.venv/
*.tif
*.json
!config/*.json
!reports/*.json
data/raw/
data/interim/
data/**/*.nc
